body {
    background-color: #454343;
}
#calculator {
    border: 1px solid #2d2c2c;
    margin: 50px;
    border-radius: 20px;
}

#calculator button {
    background-color: gray;
    color: white;
    font-size: 24px;
    border: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
}

#calculator button.operator {
    background-color: orange; /* Change the color of operators */
}
