/* Header Styles */

/* Header container */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
}

/* Header alignment */
.header-align {
    display: flex;
    align-items: center;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
}

/* Header Tabs */
.header-tab {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust spacing between tabs */
    position: relative; /* Create a stacking context for pseudo-element */
}

/* Logo */
.logo {
    width: 120px;
    height: 40px;
}

/* Husky Icon */
.husky {
    width: 40px;
    height: 40px;
}

/* Vertical Bar (Separator) */
.vertical-bar {
    font-size: 24px; /* Adjust the size as needed */
    font-weight: bold;
    color: black; /* Set the color of the vertical bar */
    margin: 0 -70px; /* Adjust spacing as needed */
    line-height: 1; /* Adjust the line height to match the font size */
}

/* Header Tab Hover Effect */
.header-tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* On hover, scale the line and change its background color */
.header-tab:hover::after {
    transform: scaleX(1);
    background-color: teal;
}

/* Header Text Styles */
.header-tab .locate-text {
    font-size: 16px; /* Adjust this value as needed */
    text-align: center; /* Center-align the text */
    color: black; /* Set the default text color */
}

/* Change text color on hover */
.header-tab:hover .locate-text {
    color: none;
}

/* Remove the default blue color and underline from the link text */
.header-tab a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

/* Star Icon */
.star {
    display: flex;
    align-items: center;
}

/* Star Margin */
.star-margin {
    margin-left: 0px;
}

/* Location Link */
.location-link {
    text-decoration: none; /* Remove underline */
    color: orangered; /* Change color to orange */
}
