// Import other SCSS files here
@import 'variables';
@import 'header';
@import 'footer';
@import 'subscribe';


/* Add margins on the left and right sides */
.border-margin {
    margin-left: 20px; /* Adjust the left margin as needed */
    margin-right: 20px; /* Adjust the right margin as needed */
}