/* Subscribe Section Styles */

/* Subscribe Container */
#subscribe {
    height: 300px;
    border: 0px;
    background-color: rgb(182, 204, 204);
    border-radius: 20px;
    margin-left: 150px;
    margin-right: 100px;
    z-index: 2;
    margin-bottom: -150px;
    position: relative;
    margin-top: 100px;
}

/* Form Group in Subscribe Section */
.form-group {
    display: flex;
    align-items: end;
    vertical-align: middle;
}

/* Mailbox Image */
.img-mailbox {
    padding-left: 800px;
}

/* Subscribe Text */
.subscribe-text {
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 35px;
}

/* Newsletter Text */
.newsletter-text {
    padding-left: 20px;
    font-weight: 900;
    font-size: 35px;
}

/* Travel Text */
.travel-text {
    padding-left: 20px;
    padding-top: 30px;
    font-weight: bolder;
    font-size: 18px;
}

/* Get Inspired Text */
.get-inspired-text {
    padding-left: 20px;
    padding-top: 7px;
}

/* Email Input */
.email-input {
    margin: 20px;
    height: 50px;
    width: 450px;
    border: 0px;
}

/* Placeholder Styles for Email Input */
.email-input::placeholder {
    color: black; /* Set the placeholder text color to black */
    padding: 10px;
    font-size: 15px;
}

/* Subscribe Button */
.sub-button {
    height: 50px;
    background-color: rgb(31, 31, 31);
    border: 0px;
    color: white;
    width: 100px;
    border-radius: 4px;
}
