// footer.scss

.footer {
    height: 30px;
    background-color: $bg-color;
    padding-top: 30px;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  