// navbar.scss

// Navigation Bar
.navbar {
    background-color: $bg-color;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  
    .logo {
      width: auto;
      height: 60px;
      border: $border-width solid $border-color;
      display: inline-block;
      border-radius: $border-radius;
      cursor: pointer;
    }
  
    .nav-links {
      display: flex;
      align-items: center;
  
      .nav-button {
        background: none;
        border: none;
        text-align: center;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: $font-size;
        margin: $button-margin;
        cursor: pointer;
        color: $text-color;
        transition: color 0.3s;
        position: relative;
  
        > svg {
          width: 40px;
          height: 24px;
          margin-right: 5px;
          fill: $text-color;
        }
  
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: $primary-color;
          bottom: -5px;
          left: 0;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s;
        }
  
        &:hover {
          color: $primary-color;
  
          &::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  